{% extends "base.twig" %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center">
	<div class="card w-50 border-top-0 rounded-bottom border shadow mt-5">
		<div class="card-header d-flex justify-content-between bg-primary text-white">
			<span>Iniciar sesión</span>
		</div>
		<div class="card-body shadow-sm">
			<div class="d-flex justify-content-center">
				<div class="form-group w-50">
					<label for="inputNickName" class="text-primary">Usuario</label>
					<input type="email" class="form-control text-center shadow-sm" id="inputNickName" aria-describedby="emailHelp" onKeyPress="return keyEnterPress(event);">
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<div class="form-group w-50">
					<label for="inputPassword" class="text-primary">Contraseña</label>
					<input type="password" class="form-control text-center shadow-sm" id="inputPassword" onKeyPress="return keyEnterPress(event);">
				</div>
			</div>
			<div class="d-flex justify-content-center">
				<button id="buttonLogin" class="btn btn-success shadow-sm mt-3" onclick="login()" onKeyPress="return keyEnterPress(event);">Ingresar</button>
			</div>
		</div>
	</div>
</div>
{%block script%}
<script type="text/javascript" src="{{ path_for('Start')}}scripts/login.js"></script>
<script type="text/javascript" src="{{ path_for('Start')}}scripts/showReplyMessage.js"></script>
<script type="text/javascript" src="{{ path_for('Start')}}scripts/sendPost.js"></script>
<script type="text/javascript">
	$('#inputNickName').focus();
</script>
{% endblock %}
{% endblock %}